#titulo{
    color:tomato;
}
p.texto{
    color:slateblue;
}
p.especial{
    color:green;
}
div p{
    color:red;
}
div h2, div h3{
    color:palevioletred;
}

*{
    font-size: 24px
}
/*Son todos comentarios*/

/* 
.color{
    color: #f00;
}
el 1ero es rojo, el 2do es verde y el 3ro es el azul
.color{
    color: #000000;
}
los 2 1erosa son rojos, los 2dos verdes y los 3ros azul
.color{
    color: rgb(0, 0, 255);
}
*/
.color{
/* border: 5px black solid; */
/*
dotted
dashed
solid
double
groove
ridge
inset
outset
none
hidden
*/
border-style: solid;
border-color: blue;
border-radius: 5px;
border-width: 10px;
/* las medidas pueden ser en cm mm pulgadas (lin) puntos (pt) picas (pc)
em (signifca el tamaño que se usa de la fuente. 2em, seria el doble del tamaño de la fuente
rem (relativo a la fuente de raiz, o sea la etiqueta html)
*/

}

#fondo{
    background-color: rgba(255,0,0);
    /* opacity: 0.3; */
    height: 300px;       
    background: #f00 url(Clima\ Pinamar.jpg) repeat-y center bottom / 100px 100px;
    
        /*
    background-color: rgba(0, 0, 0, 0.3);
    el ultimo numero de rgba es para darle al intensidad o transparencia 
    los colores los puedo poner con palabras, rgb, sexagasimal
    */
}


.margen {
    background-color: chocolate;
    margin: 15px;
    /* en margin si pongo un solo numero, es equivalente a los 4 lados*/
    padding: 30px 25px 20px 15px;
    /* en padding esigual. si pongo uno dos o tres valores va ir cambiando disposicion*/
    border: solid 1px greenyellow;
    height: 100px;
    width: 50px;
    overflow: scroll;
    /*hidden tapa lo que sobra
    scroll agrega barras para moverse
     */
     outline: 1px solid red;
     /* borde fuera del borde antes del margen*/
}

.text {
    font-family: 'Aboreto' , sans-serif;
    /*google fonts, para descargar letras*/
    text-align: justify;
    text-decoration: underline;
    text-shadow: 3px 5px 5px blueviolet;
}



