#titulo{
    color:tomato;
}
p.texto{
    color:slateblue;
}
p.especial{
    color:green;
}
div p{
    color:red;
}
div h2, div h3{
    color:palevioletred;
}

*{
    font-size: 24px
}
/*Son todos comentarios*/
