#titulo{
    color:tomato;
}
p.texto{
    color:slateblue;
}
p.especial{
    color:green;
}
div p{
    color:red;
}
div h2, div h3{
    color:palevioletred;
}

*{
    font-size: 24px
}
/*Son todos comentarios*/

/* 
.color{
    color: #f00;
}
el 1ero es rojo, el 2do es verde y el 3ro es el azul
.color{
    color: #000000;
}
los 2 1erosa son rojos, los 2dos verdes y los 3ros azul
.color{
    color: rgb(0, 0, 255);
}
*/
.color{
/* border: 5px black solid; */
/*
dotted
dashed
solid
double
groove
ridge
inset
outset
none
hidden
*/
border-style: solid;
border-color: blue;
border-radius: 5px;
border-width: 10px;
/* las medidas pueden ser en cm mm pulgadas (lin) puntos (pt) picas (pc)
em (signifca el tamaño que se usa de la fuente. 2em, seria el doble del tamaño de la fuente
rem (relativo a la fuente de raiz, o sea la etiqueta html)
*/

}

#fondo{
    background-color: rgba(255,0,0);
    /* opacity: 0.3; */
    background-image: url('Clima\ Pinamar.jpg');
    height: 200px;
    /*
    background-color: rgba(0, 0, 0, 0.3);
    el ultimo numero de rgba es para darle al intensidad o transparencia 
    los colores los puedo poner con palabras, rgb, sexagasimal
    */
}




